<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo/estyle.css">
    <title>LOGIN</title>
</head>
<body>
    <section>
        <header><p>aqui tem um header</p></header>

    </section>
    <section id="Formulario">
        <h2>Login</h2>
        <form action="">
            <label for="E-mail"></label>
            <input type="email">
            <label for="Usuario"></label>
            <input type="text">
            <label for="Senha"></label>
            <input type="password" name="" id="">
            <button>Logar</button>
        </form>
    </section>
</body>
</html>